sf_flows.json
[
    {
        "id": "98a0ab9c63d770c6",
        "type": "tab",
        "label": "Smart Fan Control",
        "disabled": true,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "b0c167127edd6310",
        "type": "mqtt in",
        "z": "98a0ab9c63d770c6",
        "name": "mqtt in data",
        "topic": "univaq/smartfan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4607b3015ab0b1e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 360,
        "wires": [
            [
                "e790a2eed242eab5",
                "9897e9ef02fd82ac"
            ]
        ]
    },
    {
        "id": "c83cc68dd6a47e77",
        "type": "debug",
        "z": "98a0ab9c63d770c6",
        "name": "debug TelegramBot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 580,
        "wires": []
    },
    {
        "id": "e790a2eed242eab5",
        "type": "function",
        "z": "98a0ab9c63d770c6",
        "name": "TelegramBot function",
        "func": "var temperature = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\nvar fanSpeed = msg.payload.fanSpeed;\nmsg.payload = {\n    \"chatId\": '-1002138906310',\n    \"type\": 'message',\n    \"content\": \"The temperature shown on the sensor is: \" + temperature + \"°C, and the Humidity is \" + humidity + \"% and the Fan Speed is settled to \" + fanSpeed +\"%\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 440,
        "wires": [
            [
                "65d7b5b1736544d9",
                "c83cc68dd6a47e77"
            ]
        ]
    },
    {
        "id": "cfcd486b49e58b1f",
        "type": "influxdb out",
        "z": "98a0ab9c63d770c6",
        "influxdb": "008c76b0492d489c",
        "name": "",
        "measurement": "environment",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "A&R",
        "bucket": "smart_fan",
        "x": 1640,
        "y": 340,
        "wires": []
    },
    {
        "id": "9897e9ef02fd82ac",
        "type": "function",
        "z": "98a0ab9c63d770c6",
        "name": "InfluxDB function",
        "func": "var temperature = parseFloat(msg.payload.temperature);\nvar humidity = parseFloat(msg.payload.humidity);\nvar fanSpeed = parseFloat(msg.payload.fanSpeed);\n\nmsg.payload = [\n    {\n        temperature: temperature,\n        humidity: humidity,\n        fanSpeed: fanSpeed\n    },\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 320,
        "wires": [
            [
                "5b546d64d9063e66",
                "cfcd486b49e58b1f"
            ]
        ]
    },
    {
        "id": "5b546d64d9063e66",
        "type": "debug",
        "z": "98a0ab9c63d770c6",
        "name": "debug influxDB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 180,
        "wires": []
    },
    {
        "id": "65d7b5b1736544d9",
        "type": "telegram sender",
        "z": "98a0ab9c63d770c6",
        "name": "",
        "bot": "0cfab35f560bdd6d",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1630,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e4607b3015ab0b1e",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "008c76b0492d489c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "",
        "name": "Influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": true
    },
    {
        "id": "0cfab35f560bdd6d",
        "type": "telegram bot",
        "botname": "smartfan_univaq_Bot",
        "usernames": "",
        "chatids": "-1002138906310",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]